VITE_USE_MOCKS=false
VITE_BFF_BASE_URL=http://localhost:8080
VITE_BFF_API_PREFIX=
VITE_REMOTE_PEOPLE_URL=http://localhost:4173/assets/remoteEntry.js
VITE_REMOTE_DOCUMENTS_URL=http://localhost:4174/assets/remoteEntry.js
